body{
    margin: 0px;
    padding: 0px;
    background-color: #FCEFD0;
}

nav{
    background: rgba(181, 205, 211);
    padding: 32px 0 32px;
    margin: 0px;
    height: 10px;
}

nav ul {
    display: table;
    margin: auto;    
}


li{
    display: inline;
    width: 15em;
    border: 1px solid #333;
    padding: 6px 15px;
    margin: 10px;
    background-color: #A4473A;
}

li:hover{
    background-color: #255966;
}

li a{
    color: white;
    text-decoration: none;
}

ul{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding: 50px 0px 32px;
    margin: 0px;
    height: 850px;
    text-align: center;
}

#myLink {
    display: inline;
    padding: 6px 15px;
    color: white;
    background-color: #255966;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

#myLink:hover {
    color: #FCC8C1;
}